.gallery__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & article {
        border: 1rem solid transparent;
        transition: var(--transition);

        &:hover {
            border-color: var(--color-grey-500);
        }
    }
}

/* ================ MEDIA QUERIES 1024px ================= */

@media screen and (max-width: 1024px) {
    .gallery__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        & article {
            border: 0;
        }
    }
}

/* ================ MEDIA QUERIES 600px ================= */

@media screen and (max-width: 600px) {
    .gallery__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}